:root {
  --principal: #FF6961;
  --principal-dark: #e25550;
  --principal-light: #ffe1df;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.bg-principal { background-color: var(--principal); }
.bg-principal-dark { background-color: var(--principal-dark); }
.text-principal { color: var(--principal); }
.bg-principal-light { background-color: var(--principal-light); }

.sidebar-transition {
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.active {
    transform: translateX(0);
  }
}
